.hero {
    text-align: center;
    background-color: #efe4d6;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    color: #4a3f35;
}

.hero p {
    font-size: 1.2rem;
    color: #6b5a4b;
    margin-top: 10px;
}

.hero button {
    padding: 12px 20px;
    background-color: #6b5a4b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
}

.hero button:hover {
    background-color: #8a7563;
}

.about {
    text-align: center;
    padding: 50px 20px;
}

.about h2 {
    font-size: 2.5rem;
    color: #4a3f35;
    margin-bottom: 30px;
}

.about p {
    font-size: 1.2rem;
    color: #6b5a4b;
    margin-bottom: 20px;
}


.slider {
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    height: 400px;
    border: 2px solid #6b504b;
    border-radius: 25px;
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 9s infinite;
}

.slide {
    width: 33.33%;
    text-align: center;
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.slide p {
    margin: 10px 0;
    font-size: 18px;
    color: #6b504b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slide a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #6b504b;
    transition: all ease-in-out 0.35s;
    width: fit-content;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.slide a:hover{
    font-size: 1.1em;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-33.33%);
    }

    40% {
        transform: translateX(-33.33%);
    }

    55% {
        transform: translateX(-66.66%);
    }

    70% {
        transform: translateX(-66.66%);
    }

    85% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}