.reservation-form input, .reservation-form select, .reservation-form textarea {/*afoglalas.html*/
    padding: 10px 0px;
}

main {
    min-height: calc(100vh - 81px - 222.88px);
}

footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
}

#footerDatas {
    z-index: 1;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: flex-end; 
    gap: 20px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.oszlop1 ul{
    list-style: none;
}

.oszlop1 img{
    padding-left: 40px;
    display: block;
    margin: auto;
}

.oszlop1{
    margin: auto 0 auto 0;
}

.oszlop2 ul{
    list-style: none;
    margin-left: -40px;
}

.oszlop3{
    margin: auto 0 auto 0;
    font-weight: bolder;
    font-size: larger;
}

.oszlop3 button{
    background-color: #4a3f35;
    color: #f3e9dd;
    border-radius: 5px;
    font-size: larger;
}