.reservation-form input, .reservation-form select, .reservation-form textarea {/*afoglalas.html*/
    padding: 10px 0px;
}

main {
    min-height: calc(100vh - 55px - 222.88px);
}

footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
}

#footerDatas {
    z-index: 1;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: flex-end; 
    gap: 20px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.oszlop1{
    margin: auto 0 auto 0;
}

.oszlop1 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


.oszlop2 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.oszlop3{
    margin: auto 0 auto 0;
    font-weight: bolder;
    font-size: larger;
}

.oszlop3 button{
    background-color: #4a3f35;
    color: #f3e9dd;
    border-radius: 5px;
    font-size: larger;
}

.oszlop1,
.oszlop2,
.oszlop3{
    background: rgba(238, 224, 197, 0.9);
    padding: 20px 25px;
    border-radius: 15px;
}

/*register page*/

.registration-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin: auto;
}

.registration-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form h3{
    text-align: center;
}

.registration-form label {
    font-size: 1.1rem;
    color: #6b5a4b;
    margin-bottom: 5px;
    display: block;
}

.registration-form input, .reservation-form select, .reservation-form textarea {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 20px;
    border: 1px solid #d8cabb;
    border-radius: 5px;
    font-size: 1rem;
    color: #4a3f35;
}

.registration-form button {
    background-color: #6b5a4b;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.registration-form button:hover {
    background-color: #8a7563;
}