body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f3e9dd;
    color: #4a3f35;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #efe4d6;
    border-bottom: 1px solid #d8cabb;
    
}

.logo{
    height: 50px;
}

nav{
    margin: auto;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #4a3f35;
    font-size: 1rem;
    transition: 0.3s;
}

nav a:hover {
    color: #8a7563;
}

footer {
    background-color: #efe4d6;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    color: #4a3f35;
    border-top: 1px solid #d8cabb;
}

.fix_footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.menu-category li {
    display: flex;          
    align-items: center;    
    margin-bottom: 15px;    
    gap: 15px;    
    
}
.kep {
    width: 80px;           
    height: 80px;           
    object-fit: cover;      
    border-radius: 50%;     
    flex-shrink: 0;         
    border: 2px solid #ccc; 
    border-radius: 50%;
    margin-left: 20%;
}
.kep :hover 
{
       background-color: black;
       color: white;
}
@media (min-width: 600px) {
    .kep {
        width: 120px;
        height: 120px;
    }
}
